<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>fb_login</title>
</head>
<body>
    <table width="100%" cellspacing="0" border="0">
        <tr bgcolor="#3b5998">
            <td width="55%">
                <img src="images/fb_logo.png" alt="" width="220">
            </td>
            <td>
                <form>
                    <input type="text" />
                    <input type="text" />
                    <input type="submit"  value="Login"/>

                </form>
            </td>

        </tr>

        <tr bgcolor="#edf0f5" height="600px">
            <td align="center" valign="top">
                <table width="80%" border="0">
                    <tr>
                        <td>
                            <h2><font face="verdana">Connect with friends and the
                                world around you on Facebook.</font></h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="verdana">
                            <img src="images/phtots_icon.png" width="50" /> &nbsp;&nbsp;See photos and updates from friends in News Feed.<br /><br />
                            <img src="images/share_timeline.png" width="50" /> &nbsp;&nbsp;See photos and updates from friends in News Feed.<br /><br />
                            <img src="images/graph_triangle.png" width="50" /> &nbsp;&nbsp;See photos and updates from friends in News Feed.<br /><br />
                            </font><br />
                        </td>
                    </tr>

                </table>
            </td>
            <td valign="top" align="center">
                <h1>Sign Up</h1>
                <form>
                    <table >
                        <tr>
                            <td >
                                <input type="text" placeholder="First Name"style="height:30px"size="20" />
                            </td> 
                            <td align="left">
                                <input type="text"  placeholder="Last Name"style="height:30px" size="30" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" size="60"  placeholder="Mobile Number" style="height:40px" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" size="60" placeholder="Email" style="height:40px" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" size="60"  placeholder="Password"style="height:40px">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                
                                <font color="#666666" face="Verdana, Arial, Helvetica, sans-serif" size="1">By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</font>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img src="images/btn_create_account.png" width="200">
                            </td>
                        </tr> 
    
                    </table>
                </form>


            </td>

        </tr>

    </table>
</body>
</html>