<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label>
            first name:
        </label>
        <input type="text" placeholder="first name:"  name="txt_name" value="ajay" size="5" maxlength="6"/><br />
        <label>
            Last name:
        </label>
        <input type="text" placeholder= "Last name:" /><br />
        <label>
            address:
        </label>
        <textarea rows="5" cols="15"></textarea><br />
        <label>
            gender:
        </label>
        <input type="radio" name="gender" checked /><label> male</label>
        <input type="radio" name="gender"/><label> female</label><br />
        <label>district:</label>
        <select multiple size="2">
            <option disabled selected  >select option</option>
            <option>calicut</option>
            <option>mlp</option>
            <option>tvm</option>
            <option  >kollam</option>
        </select>
        <br />
        <label>hobbies:</label>
        <input type="checkbox" checked id="chk_reading" />
        <label>reading</label>
        <input type="checkbox" />
        <label>writ</label>
        <input type="checkbox" />
        <label>dreaming</label><input type="checkbox" />
        <label>reading</label><br />
        <label>password:</label>
        <input type="password" placeholder="password" /><br />
        <input type="hidden" value="100"/>
        <label>upload your image:</label>
        <input type="file" multiple /><br />
        <input type="submit" value="enter" />
        <input type="reset" />
        <input type="button" value="button" />
        <button type="">click</button>




    </form> 
    
</body>
</html>