<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js</title>
    <script>
        /*internal js*/
        document.write('hello')
        name ='smith';
        /*console*/
        console.log(name);
        console.log(typeof(name));
        /*string*/
        age = 21;
        console.log(typeof(age));
         /*number*/
        isUser = true;
        console.log(typeof(isUser));
        /*boolean*/

        arr = [1,2,3,4,'name']
        console.log(arr[1])
        /*array*/
        
        dictionary1={'name':'hari','age':'12','8':'qwe'}
        console.log(dictionary1['age'])

       
        
    </script>
</head>
<body>
  <button onclick = "alert('helo')">click</button><!--inline js-->
    
</body>
</html>