<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<script>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // number=23
        // if(number>10){
        //     console.log('number larger than 10')
        // }
        // else{
        //     console.log('number smallerthan 10')
        // }

        // number =parselent(prompt("enter number"))
        // console.log(number)
        // console.log(typeof(number))
        
        grade=prompt('enter your grade')
        switch (grade) {
            case 'A':
                  alert('GOOD')
                
                break;
            case 'B':
                  alert('PASS')
                
                break;    
        
            default:
                 alert('INVALID')

                break;
        }

        // number = parseInt(prompt('Enter first number'))
        // console.log(number)
        // console.log(typeof(number))
        // if(number > 90){
        //     console.log("A Grade")
        // }
        // else if(number > 80 && number < 90){
        //     console.log('B Grade')
        // }
        // else{
        //     console.log('C Grade')
        // }
        // if(number % 2 == 0){
        //     console.log('Even Number')
        // }
        // else{
        //     console.log('Odd Number')
        // }
        // if(number > 10){
        //     console.log('Number is larger than 10')
        // }
        // else{
        //     console.log('Number is smaller than 10')
        // }
    </script>
</body>
</html>