<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // // call by value
        // a= 5
        // b= 10
        // function f1(a,b){
        //     // k = m + n
        //     // console.log(h)
        //     a= 9
        //     b=8
        //     console.log('call by insid')
        //     console.log(a,b)
        // }
        // f1(a,b)
        // console.log('call by outside')
        // console.log(a,b)

        // f1(1,2,'hi')
        // f1(4,10)
        // f1(a,b)

        // call by refernce gave obj
        // obj={ a:10, b:20}
        // function f2(obj){
        //     obj.a=23
        //     obj.b=12
        //     console.log('inside functn')
        //     console.log(obj.a,obj.b)

        // }
        // console.log(obj)
        // f2(obj)
        // console.log('outside functn')
        // console.log(obj)
        
        // function f3(a,b){
        //     k=a+b
        //     console.log(k)
        //     return k
        // }
        // f3(a=12,b=24)
        // result= f3(7,8)
        // console.log(result)
        function products({name, price}){
            console.log(name,price)
        }
        products({name:'mouse',price:'300'})

    </script>
</body>
</html>