<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js_new</title>
    <script>
        // function f1(){
        //     inside= 45/*global variable*/
        // }
        // f1()
        // console.log(inside)

        // function f2(){
        //    var inside= 56/*local variable*/
        //    console.log(inside)
        // }
        // f2()


        // var age=1
        // function f3(){
        //     var inside= 3
        //     console.log(inside)
        //     console.log(age)
        //     let name='gops'/*block scope(let)*/
        //     console.log(name)
           
        // }
        // f3()
        
        // name='hafi'
        // console.log(name)
        // inside='000'
        // console.log(inside)

        //     for(i=0; i<=10; i++){
        //         console.log("hi")
        //     }
        //     arr=['fud','ball','ash']
        //     for(i=0; i<arr.length;i++){
        //         console.log(arr[i])
 
        //    }
        //    for(item of arr)
        //    console.log(item)


        // d={1:'num1',2:'num2',3:'num3'}
        // for(item in d){
        //     console.log(d[item])
        // }

        // i=0
        // while(i<=10){
        //     console.log(i)
        //     i++
        // }
        i=0
        // do{
        //     console.log(i)
        //     i++
        // }
        // while(i<10)
        // for(i=0; i<10; i++)
        // {
        //     if(i==5){
        //         continue
        //     }
        //     console.log(i)
        // }
        for(i=0; i<10; i++)
        {
            if(i==5){
                break
            }
            console.log(i)
        }
    </script>
</head>
<body>
    <!-- <button onclick="alert">alert</button>
    <button onclick="prompt('enter your name')">prompt</button>
    <button onclick="confirm('confirm')">confirm</button>
     -->
</body>
</html>